/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                     HOME
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
#h {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: #fff;
}
#h-link {
    position: fixed;
    top: 2vw;
    left: 2.2vw;
    font-weight: 200;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
    opacity: 0.7;
    pointer-events: all;
}
#h-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    background: #240051;
}
#h-content {
    margin: -1px 0 0;
    height: 100vh;
    background: #32006F;
}
