/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                    CORE
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
html {
	font-family: $font;
	font-size: 16px;
	cursor: default;
    -webkit-tap-highlight-color: transparent;
}
#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    pointer-events: all;
}
.is-mobile #app {
    position: relative;
    overflow: visible;
}
