/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                    LOADER
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
#loader {
    position: fixed 0;
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader-txt {
    font-size: 10vw;
    color: #fff;
    opacity: 0;
    transform: translate3d(0,0,0); /* chrome 62 bug */
}
