.DS_Store
node_modules
*.log
.idea
.git
package-lock.json
yarn.lock
ip.js
dist
src/app/Config/Database.php
src/asset/js/app/Bundle
src/asset/css/lib
src/public/css
src/public/js
src/public/offline
src/public/sw.js
