.DS_Store
.idea
.vscode
*.log
node_modules
package-lock.json
yarn.lock
dist
src/app/Config/Database.php
src/asset/js/app/Bundle
src/asset/css/lib
src/public/css
src/public/js
src/public/offline
src/public/sw.js
