/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                         ENABLE JAVASCRIPT
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
#issue-ej-w {
    position: fixed 0;
    z-index: 9999;
    text-align: center;
    background: #fff;
}
#issue-ej {
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
}
